<html data-ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css">
<link rel="stylesheet" href="resources/css/bootstrap-theme.min.css">
<script type="text/javascript" src="resources/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="resources/js/angular.min.js"></script>
<script type="text/javascript" src="resources/js/angular-route.js"></script>
<script type="text/javascript" src="resources/js/angular-cookies.js"></script>
<script type="text/javascript" src="resources/js/app.js"></script>
<script type="text/javascript" src="home/HomeController.js"></script>
<script type="text/javascript" src="login/loginService.js"></script>
<script type="text/javascript" src="login/loginController.js"></script>

<script type="text/javascript" src="register/userService.js"></script>
<script type="text/javascript" src="register/userController.js"></script>

</head>

<body data-ng-controller ='mainController'>



<!--  HEADER AND NAVBAR  -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand"  href="#/">Angular Routing Example</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#login"  ><i class="fa fa-shield"></i> Login</a></li>
                    <li><a href="#register"  data-ng-click="register()" data-ng-hide="currentUser.firstName"><i class="fa fa-comment"></i> Register</a></li>
                    <li><a href="" data-ng-click="logout()" data-ng-show="currentUser.firstName">logout</a></li>
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">
<div data-ng-view></div>
            <!-- angular templating -->
            <!-- this is where content will be injected -->

        </div>


</body>
</html>